.top-bar__marquee__content {
  display: flex;
  gap: 8px;
}


#header {
  display: flex;
  background-color: black;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

#header.scrolled {
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(6px);
}

.header__logo__text {
  font-family: var(--font-secondary);
  font-size: 24px;
  color: white;
}

#hero {
  width: 100%;  
  height: 600px;
  overflow: hidden;
}

.hero__image {
  width: 100%;  
  object-fit: cover;
}

.featured-products {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  position: relative;
}

#featured-products-container {
  max-height: 300px;
  overflow-y: auto;
  position: relative;
}

#scroll-top-btn {
  position: absolute;
  display: none; 
  bottom: 8px;
  right: 8px;
}

#collections {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  align-items: center;
  text-align: center;
}