@use "./global.scss";
@use "../../sections/footer.scss";
@use "../../sections/header.scss";

.top-bar{
  background-color: var(--color-primaryNeonPurple);
  padding: 8px 0;
  &__marquee__content .svg{
    color: var(--color-primaryViolet);
    margin: auto;
  }
    &__marquee__content__item{
    font-weight: bold;
    text-align: center;
    margin: auto;
  }
}


.hero {
  height: 600px;
  overflow: hidden;
  &__image {
  width: 100%;  
  object-fit: cover;
 }
 &__button {
  display: none;
 }
}

.hero-banner{
  padding: 48px 0;
  background-color: var(--color-black100);
  h3{
    font-family: var(--font-secondary);
    font-size: 42px;
    font-weight: bold;
    text-align: center;
    margin: auto;
  }
  .svg{
    font-size: 72px;
    color: var(--color-primaryViolet);
    margin: auto;
  }
}


.featured-products {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  position: relative;
  &__product-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  max-height: 360px;
  overflow-y: auto;
  position: relative;
  padding: 32px 0;
  view-timeline: --image;
  view-timeline-axis: block;
  animation-timeline: --image;
  animation-name: show;
}
  &__scroll-top-btn {
  position: absolute;
  display: none; 
  bottom: 8px;
  right: 8px;
}
}


.product-card{
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 8px;
  &__image-container{
  width: 100%;  
  height: 300px;
  overflow: hidden;
  border: solid 1px var(--color-primaryNeonPurple);
  border-radius: 4px;
  cursor: pointer;
  img {
  width: 100%;  
  height: 100%;
  object-fit: cover;
  transition: width 0.4s ease, padding 0.4s ease, height 0.4s ease, padding 0.4s ease;
 }
  img:hover {
  width: 120%;
  height: 120%;
 }
}
 &__body{
  display: flex;
  align-items: center;
  gap: 16px;
  &__cart{
    @extend .header__cart;
      border-radius: 50%;
      aspect-ratio: 1 / 1;
      padding: 4px 8px;
  }
    &__cart > .svg{
      font-size: 16px;
  }
 }
   &__tags {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    padding: 0;
    margin: 0; 
    list-style: none;
  }

  &__tags li {
    background-color: var(--color-darkViolet);
    color: white;
    padding: 4px 12px;
    border-radius: 16px;
    font-size: 10px;
    border: solid 1px var(--color-primaryViolet);
  }
}

@keyframes show {
  0% {
    opacity: 0;
    scale: 50%;
  }
  60% {
    opacity: 1;
    scale: 100%;
  }
}

.collections {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 128px;
  background: radial-gradient(circle, rgb(119, 23, 255) 0%, rgba(37, 9, 155, 0) 45%);
  background-position: top -316px center;
  background-repeat: no-repeat;
  &__title{
    display: flex;
    align-items: center;
    font-family: var(--font-secondary);
    font-size: 42px;
    gap: 24px;
    .svg{
      color: var(--color-primaryViolet);
      font-size: 48px;
    }
  }
  &__images{
    display: grid;
    grid-template-columns: 1fr;
    gap: 32px;
    &__image-container{
      position: relative;
      width: 100%;  
      height: 300px;
      overflow: hidden;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0.7;
        cursor: pointer;
        transition: opacity 0.4s ease;
      }
       img:hover{
        opacity: 1;
      }
      h6{
        position: absolute;
        bottom: 16px;
        left: 16px;
      }
  }
  }
}


@media(min-width:768px){
  .hero {
    position: relative;
    &__button {
    display: inherit;
    position: absolute;
    bottom: 48px;
    left: 16px;
  }
}

.hero-banner{
  h3{
    font-size: 56px;
  }
}

.featured-products {
  &__product-list{
    grid-template-columns: repeat(4, 1fr);
  }
}

.collections {
  background: radial-gradient(circle, rgb(119 23 255) 0%, rgb(37 9 155 / 0%) 29%);
  background-position: top -216px center;
  &__title{
    font-size: 56px;
  }
  &__images{
    grid-template-columns:repeat(2, 1fr);
    gap: 16px;
      &__image-container{
        grid-column: 1 span; 
      }
      &__image-container:nth-child(3n){
        grid-column: 1 / span 2;
      }
}
} 
}