<span class="svg" role="img">
  <svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 260 97" fill="currentColor">
    <!-- Generator: Adobe Illustrator 29.7.1, SVG Export Plug-In . SVG Version: 2.1.1 Build 8)  -->
    <path d="M249.5,21H10.5C4.7,21,0,16.3,0,10.5S4.7,0,10.5,0h239c5.8,0,10.5,4.7,10.5,10.5s-4.7,10.5-10.5,10.5Z"/>
    <path d="M249.5,97H10.5c-5.8,0-10.5-4.7-10.5-10.5s4.7-10.5,10.5-10.5h239c5.8,0,10.5,4.7,10.5,10.5s-4.7,10.5-10.5,10.5Z"/>
  </svg>
</span> 