<section id="header" >
    <button id="open-hamburger-btn" class="button">
      {% include 'icons/hamburger' %}
    </button>
   <div class="header__logo">
    {% include 'logos/shuffle' %}
    <h2 class="header__logo__text">{{ settings['header'].settings.header_logo_text }}</h2>
  </div>
  {% include 'payment-methods' %}
  <div class="header__links">
     <button id="close-hamburger-btn" class="button" onclick="isHamburgerOpen = !isHamburgerOpen">
      X
    </button>
    <div id="header-links-container" class="header__links__container">
      {% for link in settings['header'].settings.header_links %}
      <a href="{{ link.url }}" class="header__link">{{ link.label }}</a>
    {% endfor %}
    </div>
    <button class="button">
      {% include 'icons/cart-shopping' %}
    </button>
  </div>
</section>