<section class="hero section-delimited">
    <img class="hero__image" src="{{ settings['hero-banner'].settings.background_image | image_url: '100%' | prepend: 'assets/' }}" alt="Ket Club" width="1200" height="800">
   <a href="#collections"><button class="hero__button button--primary" >{{ settings['hero-banner'].settings.button_text | upcase }}</button></a>
</section>
