<span class="svg" role="img">
<svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1" viewBox="0 0 2500 2500">
  <defs>
    <style>
      .d-cls-1 {
        fill: #c2a633;
      }

      .d-cls-2 {
        fill: #fff;
      }
    </style>
  </defs>
  <circle class="d-cls-2" cx="1250" cy="1250" r="1250"/>
  <g>
    <path class="d-cls-1" d="M1280,823.75h-178.6v352.11h280.99v147.43h-280.99v352.09h187.35c48.14,0,395.2,5.44,394.66-409.65s-336.61-441.98-403.41-441.98Z"/>
    <path class="d-cls-1" d="M1250,0C559.64,0,0,559.64,0,1250s559.64,1250,1250,1250,1250-559.64,1250-1250S1940.36,0,1250,0ZM1299.11,1925.12h-452.69v-601.82h-159.58v-147.43h159.56v-601.86h388.53c91.91,0,700.7-19.09,700.7,686.85s-636.51,664.26-636.51,664.26h-.01Z"/>
  </g>
</svg>
</span>