<span class="svg" role="img" aria-label="ethereum">
    <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1" viewBox="0 0 630.95 630.95">
    <defs>
        <style>
        .cls-1 {
            fill: #636363;
            stroke: #000;
            stroke-miterlimit: 10;
        }

        .cls-2 {
            fill: #fff;
        }
        </style>
    </defs>
    <circle class="cls-1" cx="315.47" cy="315.47" r="314.97"/>
    <path class="cls-2" d="M467.37,320.27l-151.9,92.8-152-92.8L315.47,59.47l151.9,260.8ZM315.47,442.87l-152-92.8,152,221.4,152-221.4-152,92.8Z"/>
    </svg>
</span>