<span class="{{ icon_class | prepend: 'svg ' }}" role="img">
<svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 20.48 24">
  <!-- Generator: Adobe Illustrator 29.7.1, SVG Export Plug-In . SVG Version: 2.1.1 Build 8)  -->
  <defs>
    <style>
      .shuffle-st0 {
        fill: #886cff;
      }
    </style>
  </defs>
  <path class="shuffle-st0" d="M15.47,0H5.01c-1.34,0-2.6.53-3.54,1.49-.95.96-1.47,2.24-1.47,3.6v1.56c0,2.08,1.29,3.9,3.44,4.87l.86.36v-5.15s0-.05,0-.08v-1.56c0-.26.13-.44.21-.52.08-.08.25-.21.51-.21h10.46c.26,0,.43.13.51.21.08.08.21.25.21.51v3.42h4.29v-3.42c0-1.36-.52-2.64-1.47-3.6-.95-.96-2.21-1.49-3.55-1.49Z"/>
  <path class="shuffle-st0" d="M17.02,12.47l-.84-.35v5.19s0,.03,0,.04v1.56c0,.26-.13.44-.21.52-.08.08-.25.21-.51.21H5.01c-.39,0-.72-.33-.72-.73v-3.42H0v3.42c0,2.81,2.25,5.09,5.01,5.09h10.46c1.34,0,2.6-.53,3.54-1.49.95-.96,1.47-2.24,1.47-3.6v-1.56c0-2.1-1.29-3.92-3.46-4.88h0Z"/>
  <path class="shuffle-st0" d="M8.39,13.88c1.5,1.52,1.85,3.46,1.85,3.46,0,0,.23-1.24,1.09-2.52.21-.32.46-.63.76-.93,1.5-1.52,3.4-1.88,3.4-1.88,0,0-1.43-.27-2.8-1.34-.2-.16-.41-.34-.61-.54-1.5-1.52-1.85-3.46-1.85-3.46,0,0-.22,1.24-1.09,2.52-.21.32-.46.63-.76.93-1.5,1.52-3.4,1.88-3.4,1.88,0,0,1.44.27,2.8,1.34.2.16.41.34.61.54h0Z"/>
</svg>
</span>